/* main skeleton */

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
html, body {
  background-color: #191919;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: url('../assets/img/background.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
  align-content: stretch;
}
header {
  position: relative;
  padding: 1rem 1rem 3rem;
  font-family: 'Fjalla One', sans-serif;
  margin: 8rem 0 1rem;
}
h1 {
  font-size: 4rem;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #191919;
  color: #fff;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  letter-spacing: 3px;
  font-weight: 400;
  vertical-align: middle;
  position: relative;
}
header p {
  background: #fff;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: 600;
  margin: 0rem;
  position: relative;
}
header img {
  position: absolute;
  top: -5rem;
  margin: auto;
  text-align: center;
  left: calc(50% - 245px);
  z-index: 0;
  border: none;
  width: 100%;
  min-width: 400px;
  max-width: 300px;
}
section {
  text-align: center;
  height: 100%;
}
footer, footer a {
  color: #fff;
  margin: 2rem 0 2rem;
}

/* Mixtape skeleton */
ul {
  margin: 0rem;
  padding: 2rem 2rem 0;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: visible;
  list-style: none;
  box-sizing: border-box;
}
.flexItem {
  cursor: pointer;
  min-width: 300px;    
}


/* Mixtape Items */
li {
  position: relative;
  margin: 0 1rem;
}
li:hover figcaption {
  display: flex;  
}
figure {
  margin: 0;
  padding: 0;
}
figcaption {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
  width: 100%;
  background: rgb(25 25 25 / 85%);
  color: #fff;
  padding: 1rem;
  box-sizing: border-box;
  transition: all 500ms ease-in-out;
  cursor: default;
}
figcaption .title {
  font-size: 1.8rem;
  margin: 0 0rem;
  padding: 0;
}
figcaption .desc {
  font-size: 1rem;
  margin: 0 0rem;
  padding: 0 0.5rem;
}
figcaption .btns {
  margin: 1rem 0 1rem;
}
picture img {
  width: 100%;
  max-width: 300px;
  border: solid 5px #191919;
  box-sizing: border-box;
}
figcaption button {
  border: none;
  background: #ffffff;
  color: #191919;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
a button, 
a:visited button, 
a:hover button, 
a:focus button{
  text-decoration: none;
  color: #191919;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 1.4rem;
  }
  header p {
    font-size: 0.6rem;
  }
  header img {
    max-width: 200px;
    min-width: 200px;
    top: -2rem;
    left: calc(50% - 120px);
  }
  header {
    margin: 6rem 0 0rem;
  }
}